{% extends "base.html.twig" %}

{% block body %}

<div class="container text-left bg-danger py-3 mt-3 rounded">
    <div class="d-flex mt-1 justify-content-center bg-dark py-3 rounded">
            <img src="{{ asset("images/" ~ book.cover) }}" alt="" class="h-50 col-4">
            <div class="resume col-7 bg-warning py-3 rounded">
                <h4>{{ book.title }}</h4>
                 <p class="mt-2 mb-5"><strong>Résumé:</strong><br> {{ book.resume }}</p>
            </div>
    </div>
</div>

{% endblock %}